@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.user-picture {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.bg-ms{
  background: #5ea352;
}

.logo{
  height: 44px;
  width: 44px;
}