<app-loader [isLoading]="isLoading"></app-loader>
<div class="table-responsive container" *ngFor="let launches of launchesByWeek">
    <table [hidden]="isLoading" class="table-full table-striped" *ngIf="!!launches">
        <div >
            <thead>
                <th translate>Monday</th>
                <th translate>Tuesday</th>
                <th translate>Wendsday</th>
                <th translate>Thursday</th>
                <th translate>Friday</th>
            </thead>
            <tbody>
                <tr>
                    <td *ngFor="let launch of launches">
                        {{launch.description}} <br />
                        {{launch.date|date:'yyyy-MM-dd'}}
                    </td>
                </tr>
            </tbody>
        </div>
    </table>
</div>