<div class="col">
    <div class="row">
        <span [hidden]="!canBeSelected" class="col-md-4 button col-xs-6" >
            <button
                class="tile-button btn"
                [disabled]="lunch.isSelectable"
                [ngClass]="{
                    'btn-success': lunch.isSelected,
                    'btn-danger': !lunch.isSelected
                }" (click)="select()">
            </button>
        </span>

        <span [ngClass]="{
            'col-md-8 col-xs-6': canBeSelected,
            'col': !canBeSelected
        }" class="description">
            <span>{{lunch.description}}</span>
            <span class="badge badge-dark">{{lunch.type}}</span>
        </span>
    </div>
</div>