.header-col{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;

    background: cornflowerblue;
}

.header-date{
    font-style: italic;
    font-weight: 100;
}

.fill-father{
    width: 100%;
}

.no-margin{
    margin-left: 0px;
    margin-right: 0px;
}